$primary-color:#758C87;
$secondary-color:#474D46;
$ternary-color:#FDFDFD;
$cuaternary-color:#D8DED5;



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

html{
    font-size: 10px;
   
    
}

#root{
    background-color: $primary-color;
    
    
}

main{
    display: flex;
    flex-grow: 1;
    
}


h2{
   color:$ternary-color;
}

.cartText{
    color: $secondary-color;
}

.greetings{
    font-size: 4rem;
    color:$ternary-color;
    letter-spacing: 0.4rem;
    text-align: center;
    margin-top: 4rem;
    margin-left: 4rem;
    height: 6rem;
    
    
}

.ItemListContainer{
    margin: 25px;
    

}

li{
    list-style-type: none;
}


.counterContainer{
    float: right;
    // agregar animación scroll?
    margin-top: 60px;
    margin-right: 3rem;
    width: 30rem;
    height: fit-content;
    align-items: center;
    background-color: $cuaternary-color;
    padding: 30px;
    border: 1.3rem solid $ternary-color;
    border-radius: 3rem;
    
    
}

.cartText{
    font-size:1.8rem ;
    text-align: center;
}


.cartItemsBtn{
   width: 65px;
   font-size: 20px;
   font-weight: bold;
   background-color:$ternary-color;
   color: $secondary-color;
   border: none;
   border-radius: 6px;
   margin:1.5rem 0rem 1.5rem 2.8rem;
  
}

.counterBtn{
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 200px;
    margin: 5px;
    border: none;
    background-color: $secondary-color;
    color: $cuaternary-color;
    border-radius: 3px;

}

.cartText{
    font-size:1.8rem;
    margin-top: 1rem;
    
}

.shopTitle{
    font-size: 3rem;
    color:$ternary-color;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 4rem;
}



.productsSection{
    align-items: center;
    display: flex;
    
    
}




.imgContainer{
   height: 50%;
    display: inline-block;
    background-size: cover;
    margin: 1rem;
}

.productName{
    text-align: center;
    font-size: 2rem;
    height: 3rem;
}

.productPrice{
    text-align: center;
    font-size: 1.5rem;
    }