$primary-color:#FDFDFD;
$secondary-color:#D8DED5;
$ternary-color:#474D46;
$cuaternary-color:#758C87;



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    
}

html{
    font-size: 10px;
    background-color:$cuaternary-color;
   

}

#root{
    display: grid;
    min-height: 100vh;
    grid-template-rows:auto 1fr auto;
}



.navBar{
background-color:$cuaternary-color;

}

.roundedBorder{
    border-radius: 0.3rem;
}

.brandText{
    font-size: 3.5rem;
    color: $primary-color;
    height: 4.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.brandLogo{
    color: $primary-color;
    font-size: 4rem ;
   margin-bottom: 1rem;
   margin-left: 1rem;

}

.navLinks{
    color: $secondary-color;
    font-size:2rem;
    text-decoration: none;
    margin-left: 5rem; 
    margin-top: 1rem;
}

.navLinks:hover{
    color: $ternary-color;
    
}

.cartWidget{
    display: flex;
    margin-left: 7rem;
    
}

.cartWidget:hover{
    
    // transform: translateZ(-5%) ;
    transition-duration: 100ms;
    transform: perspective(0.05px) translateZ(0.05px);
    

}

.cartWidgOn{
    color: $ternary-color;
    font-size: 3.8rem;
    float: left;

}

.cartWidgOff{
    visibility: hidden;
    
}


#cartWidgetTotal{
    
    font-size: 1.2rem;
    color:$primary-color ;
    margin:0rem 0rem 3rem 0.5rem;
    background-color: $ternary-color;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    text-align: center;
   
    

}


h2{
    color:$ternary-color;
}

.cartText{
    color: $secondary-color;
}




li{
    list-style-type: none;
}


.counterContainer{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.counterText{
    font-size:1.5rem ;
    text-align: center;
   
}


.cartItemsBtn{
    @extend .roundedBorder;
    width: 45px;
    font-size: 18px;
    font-weight: bold;
    background-color: $ternary-color ;
    color: $primary-color ;
    border: none;
    margin: 0rem 1rem 1rem 1rem ;
}

.cartBtnBlock{
    display: flex;
    flex-direction: row;
}

.counterBtn{
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 200px;
    margin-bottom: 5px;
    border: none;
    background-color: $secondary-color;
    color: $ternary-color;
    border-radius: 3px;
    
}



.cartText{
    font-size:1.8rem;
    justify-content: center;
    align-items: center;

}

.shopTitle{
    font-size: 3rem;
    color:$ternary-color;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 4rem;
}



.productsSection{
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    
}

.product{
    margin:3rem 2rem 3rem 2rem;
    width: 32rem;
   
}


.imgContainer{
    display: inline-block;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-left: 5.5rem;
}

.imgContainer:hover{
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5%) ;
    transition-duration: 300ms;
}


.productImg{
    height: 30rem;
    
}

.productName{
    color:$ternary-color;
    text-align: center;
    font-size: 2rem;
    height: 3rem;
    margin-top: 1.5rem;
    
}

.productPrice{
    text-align: center;
    font-size: 1.8rem;
    color:$ternary-color ;
    }

.openProduct{
    @extend .roundedBorder;
    background-color:$cuaternary-color ;
    color:$primary-color ;
    width:20rem;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
    margin-left: 19%;
   
}

.stockText{
font-size: 1.5rem;
color:$ternary-color ;
}

.detailSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $primary-color;  
     
}

.itemContainer{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: $ternary-color;
    text-align: center;
    background-color: $primary-color;
}

.itemDetail{
    border: solid $cuaternary-color 0.5rem;  
    height: 40rem; 
    margin: 12rem 0rem 2rem 0rem;
    border-left: none;
}

.detailImgContainer{
    height: 40rem;
    margin: 12rem 0rem 2rem 0rem;
}


.detailImg{
    
    height: 100%;
    border: solid $cuaternary-color 0.5rem;
    padding: 1rem;
    
}

.productDetailName{
    font-size: 2.4rem;
    letter-spacing: 0.4rem;
    color: $ternary-color;
    margin-top: 4rem;
    text-align: center;
    height:3rem;
}

.productDescription{
    color: $ternary-color;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding: 2rem;
    width: 50rem;
    margin-bottom: 4rem;
    
}

.cartDetail{
    @extend .roundedBorder;
    float: right;
    margin: 12rem 0rem 2rem 3rem;
    padding: 5rem;
    justify-content: center;
    background-color: $secondary-color;
    
}

.cartTitle{
    text-align: center;
    font-size: 2rem;
    margin-bottom:3rem ;
}

.productCartCont{
    display: flex;
    
}

.itemCount{
    font-size: 1.5rem;
    margin: 1rem 0rem;

}

.cartItem{
    font-size: 1.5rem;
    margin:1rem 2rem;
    text-align: left;
    width: 11rem;

}

.cartPrice{
    @extend .cartItem;
    width: 6rem;
  
}



.deleteItemBtn{
    margin-left: 4rem;
    font-size: 1.4rem;
    border: none;
    font-weight: bold;
    background-color:transparent;
    color: $ternary-color ;
    text-align: center;
   
}


.clearBtn{
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 200px;
    margin: 2rem 2rem 0rem 2rem;
    border: none;
    background-color:$secondary-color ;
    color:$ternary-color ;
    border-radius: 3px;

    
}

.buyBtn{
    @extend .clearBtn;
    margin-top:2rem;
    text-decoration: none;
    background-color:$ternary-color ;
    color: $secondary-color;
}

.buyBtn:hover{
    color: $primary-color;
}

.clearBtn:hover{
   
    color: $cuaternary-color;
}

.totalCart{
    font-size: 1.7rem;
    color: $ternary-color;
    text-align: left;
    margin-top: 4rem;
}

.totalProducts{
    font-size: 1.5rem;
    color: $cuaternary-color;
    text-align: left;
    
}



.footer {
    display: flex;
    background-color: $cuaternary-color;
    width: 100%;
    margin-top: auto;

}

.footer1{
    display: flex;

}

.footerBrandLink{
    font-size: 1.8rem;
    text-decoration: none;
    color:$primary-color;
    margin: 2rem 0rem 1rem 2rem;
    
}

.footerBrandLink:hover{
    color:$cuaternary-color ;
}

.footer2{
    color:$primary-color;
    margin: 1.5rem 0rem 0rem 45rem;
    display: flex

}



.footerIcon{
    text-decoration: none;
    font-size: 2rem;
    color: $primary-color;
    margin: 0rem 2rem;
}

.checkOutContainer{
    display: flex;
    justify-content: space-around;

}

.formTitle{
    font-size: 2.3rem;
    color:$cuaternary-color;
    text-align: center;
    letter-spacing: 0.3rem;
    margin: 2rem 0rem;
}


.userForm,.checkCartContainer{
    display: flex;
    flex-direction: column;
    margin: 4rem 0rem 4rem 4rem;
    padding: 0rem 10rem;
    width: 40vw;
}

.checkCartContainer{
    width: 50vw;
}

.productCheckCont{
    @extend .productCartCont;
    margin-top: 1rem;
}

.deleteCart{
    @extend .deleteItemBtn;
    align-self: flex-start;
    margin-top: 1rem;
}

.inputContainer{
    position: relative;
    margin:2rem 0rem;
    
}

.formLabel{
    font-size: 1.5rem;
    color:$ternary-color ;
    position: absolute;
    left:0.5rem;
    top:0.1rem;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}



input{
    height: 2.8rem;
    font-size: 1.7rem;
    padding: 1rem;
    background: none;
    display: block;
    border: none;
    border-bottom: solid $ternary-color 0.1rem;
    width: 100%;
}

input:focus{
    outline: none;
    color:$ternary-color;
}

input:focus~.formLabel, input:valid~.formLabel{
    top: -1.4rem;
    font-size: 1.4rem;
    color:$cuaternary-color;
}	

input[value]{
    font-size: 1.5rem;
    padding: 1rem;
}

.bar{
    position:relative;
    display: block;
    width: 100%;
}

.bar::before{
    content: "";
    height: 0.2rem;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: $cuaternary-color;
    transition: 0.3s ease width;
    left:0;
}

input:focus~.bar::before{
    width: 100%
}

.submitForm{
    @extend .buyBtn;
    margin-top :2rem;
    margin-left: 5rem;
}


.cartTitle{
    @extend .formTitle;
    margin-bottom: 4rem;
}

.checkCart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutImg{
    width:8rem;
}

.successToast{
    font-size: 1.5rem;
}

.errorToast{
    font-size: 1.5rem;
}

